/*****GLOBAL STYLE*****/

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/*****HEADER*****/

#header {
  position: fixed;
  z-index: 5;
  display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.flex-container {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
}

.logo {
  height: 50px;
  align-items: flex-start;
  align-content: center;
  padding-left: 10px;
}

.nav {
  justify-content: right;
  align-items: flex-end;
  padding: 0 10px;
}

.nav a {
  text-decoration: underline;
  color: white;
  padding: 0px 10px;
}

/***** MISSION SECTION *****/

#mission {
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}

.mission-content {
  width: 1200px;
  margin: auto 0;
  display: block;
  position: absolute;
  top: 300px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
}

/***** FEATURED SECTION *****/

#featured {
  padding-top: 70px;
  padding-bottom: 70px;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 1200px;
}

#featured-content {
  height: auto;
  width: 1000px;
  text-align: center;
}

#featured-items {
  margin: 0;
  padding: 0;
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#featured-items span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.featured-img {
  height: 200px;
  width: 300px;
  margin: 10px 15px;
}

/***** LOCATIONS SECTION *****/

#locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: auto;
  padding-top: 70px;
  width: 1200px;
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

#locations-header h2 {
  margin: 0 0 15px 0;
  text-align: center;
}

#boxes {
  justify-content: center;
  align-items: center;
}

.locations-boxes {
  margin: 15px 20px;
  padding-top: 30px;
  display: static;
  height: 260px;
  width: 300px;
  background-color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/***** CONTACT SECTION *****/

#contact {
  margin: auto;
  width: 1200px;
  height: 200px;
  text-align: center;
}

#copyright {
  margin-left: 20px;
  width: auto;
  height: auto;
  text-align: left;
}
